mirrors:
  # HACK This only works for a single-node cluster. For a multi-node
  # cluster, the Service IP will likely need to be hard-coded, but I'm not
  # implementing it here because I only have a single node and I'm lazy.
  zot.zot.svc.cluster.local:
    endpoint:
      - http://localhost:30000
