user_ocid = "{{ oci_user_ocid }}"
fingerprint = "{{ oci_fingerprint }}"
tenancy_ocid = "{{ oci_tenancy_ocid }}"
region = "{{ oci_region }}"
compartment_id = "{{ oci_compartment_id }}"
private_key = <<EOT
{{ oci_private_key }}
EOT
